<nav class="navegacao">
	<a id="edit-company" href="#" data-reveal-id="editar-conteudo" data-animation="fade">{{=T('Edit company')}}</a>
</nav>

<div id="editar-empresa" class="reveal-modal">
		<div>
			<span class="pull-right">
				<a href="javascript:()" onclick="document.getElementsByClassName('reveal-modal-bg')[0].click()">X</a>
			</span>
			<h1 class="green bold">Editar Empresa</h1>
		</div>

		<div class="cont-edit-company">
			<div class="form-avatar avatar-edit-company f-left">
				
			</div>
			<section class="info-edit-company f-left">
				
			</section>
		</div>
</div>
<!-- Modal de edição da Empresa -->