{{extend 'layout.html'}}
<div class="container home">
    <img src="{{=URL('static','images/home-apresenta.png')}}"></img>
    <h4 class="home-desc">{{=T('Make efficient exchange of relevant information between the stakeholders of your business or your investments. Only in one place.')}} </h4>
    <p class="ico-heigth icon-file"><span>{{=T('Inform relevant reports (finance, contracts, etc).')}}</span></p>
    <p class="ico-heigth icon-busy"><span>{{=T('No more getting lost in emails or phone calls.')}}</span></p>
    <p class="ico-heigth icon-thumbs-up"><span>{{=T('Easy, fast and transparent.')}}</span></p>
    <p class="developerby">{{=T('Developed By')}}
    <a href="http://koletivo.kolaborativa.com" target="_blank">
    <img src="{{=URL('static','images/koletivo.png')}}" alt=""> Koletivo
    </a>
      </p>
</div>
<div class="container">
    <figure>
        <img src="{{=URL('static','images/LogoRellato.png')}}" alt="Logo-Relatto">
    </figure>
    <br>
    <div class="mensagem-beta">
    <p>
        Fique ligado no lançamento do beta
        <br>
        Volte em breve para fazer o cadastro.
    </p>
   </div>
</div>
