{{extend 'layout.html'}}
<div class="internal-page-img left">
    <img src="{{=URL('static', 'images/ballons-reset-password.png')}}" alt="" title="">
</div>
<div class="internal-page-text left">
    <h2>{{=T('Welcome!')}}</h2>
    <p>{{ =T("You've registered sucessfully! We sent you a verifying message to your registered e-mail.") }}</p>
    <p>{{ =T("""Please, check your inbox and follow the instructions to participate of the Relatto community.
                            The message can be in another folder or in the spambox. Take a look calmly.""") }}</p>
    <p>{{ =T("Thanks for registering and a good communication for you!") }}</p>
</div>
